/* common css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}

.display-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-sb {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.section-padding {
    padding-bottom: 100px;
}

.d-inline-block {
    display: inline-block;
}

.button-primary {
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 42px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.main-container {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}

.heading {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 24px;
}

.sub-heading {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 26px;
}

a {
    text-decoration: none;
}

.image {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

input,
select {
    outline: 0;
}

/* navbar css */
.navbar {
    padding: 20px 0px 50px 0px;
}

.logo a h3 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    margin-left: 1rem;
}

.logo a h3 span {
    color: #FF5400;
}

.nav-items li {
    list-style: none;
    margin-left: 44px;
}

.nav-items li:first-child {
    margin-left: 0;
}

.nav-items li a {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    transition: 0.3s ease;
}

.nav-items li:hover a,
.nav-items li a.active-link {
    color: #FF5400;
}

.navbar-icon {
    display: none;
}

/* banner css */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/banner-img.png');
    border-radius: 16px;
    padding: 105px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner h3 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
}

.banner p {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    max-width: 670px;
    margin-top: 24px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.banner-search-form {
    padding: 16px;
    background: rgba(255, 255, 255, 0.30);
    max-width: 780px;
    margin: 0 auto;
    border-radius: 8px;
}

.banner-search-form form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.banner-search-input {
    padding: 16px;
    border-radius: 8px;
    max-width: 174px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border-color: transparent;
}

.banner-search-select {
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border-color: transparent;
    min-width: 174px;
    width: 100%;
}

.banner-search-button {
    background-color: #FF5400;
    color: #FFF;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    border-color: transparent;
}

.banner-search-button i {
    margin-right: 8px;
}

/* Popular Tour css */
.popular-tour-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 53px;
}

.popular-tour-content-list {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
    padding-left: 14px;
}

.popular-tour-content-left .button-primary {
    margin-top: 32px;
}

.popular-tour-content-list li:nth-child(2) {
    margin: 16px 0;
}

.popular-tour-content-right {
    text-align: right;
}

/* Destination css */
.destination-description {
    max-width: 643px;
    margin-left: auto;
    margin-right: auto;
}

.destination-section {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
}

.destination-section-item {
    position: relative;
}

.destination-section-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
}

.destination-section-item-content h4 {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.destination-section-item img {
    width: 100%;
}

.destination-item-01 {
    grid-column: 1/7;
}

.destination-item-02 {
    grid-column: 7/-1;
}

.destination-item-03 {
    grid-column: 1/5;
}

.destination-item-04 {
    grid-column: 5/10;
}

.destination-item-05 {
    grid-column: 10/-1;
}

.destination-item-06 {
    grid-column: 1/6;
}

.destination-item-07 {
    grid-column: 6/-1;
}


/* Choose us css */
.choose-us-sub-heading {
    max-width: 643px;
    margin: 0 auto;
}

.choose-us-content {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
}

.choose-us-content-item {
    padding: 32px;
    border-radius: 16px;
}

.choose-us-content-item h4 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 32px 0 16px 0;
}

.choose-us-content-item p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.choose-us-item-01 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    grid-column: 1/7;
}

.choose-us-item-02 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    grid-column: 7/-1;
}

.choose-us-item-03 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    grid-column: 4/10;
}

/* Our Testimonial Css*/
.testimonial-sub-heading {
    max-width: 670px;
    margin: 0 auto;
}

.testimonial-section {
    margin-top: 62px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.testimonial-section-item {
    padding: 20px;
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}

.testimonial-section-item-image {
    text-align: center;
}

.testimonial-section-item-image img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    margin-top: -50px;
}

.testimonial-section-item h4 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 800;
    color: #131318;
    margin-top: 16px;
    text-align: center;
}

.testimonial-section-item p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #424247;
    margin-top: 10px;
    text-align: center;
}

/* Perfect Place Css */
.perfect-place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 28px;
}

.perfect-place .heading {
    max-width: 448px;
}

.perfect-place .sub-heading {
    max-width: 532px;
}

.perfect-place-left-list {
    max-width: 518px;
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 16px;
    margin-bottom: 16px;
    position: relative;
}

.perfect-place-left-list::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #131318;
}

.perfect-place-left .button-primary {
    margin-top: 16px;
}

.perfect-place-right video {
    object-fit: cover;
    border-radius: 16px;
    width: 100%;
    height: auto;
}

/* Newsletter css */
.newsletter-area {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
}

.newsletter-left {
    grid-column: 1/6;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-left h4 {
    margin-top: 0;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

.newsletter-left p {
    max-width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.newsletter-left form {
    padding-top: 24px;
    border-top: 1px solid #1313181a;
}

.newsletter-left form div {
    margin-bottom: 16px;
}

.newsletter-left form input {
    padding: 16px 20px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    border-color: transparent;
    border-radius: 8px;
    width: 100%;
}

.newsletter-left .button-primary {
    width: 100%;
    margin-top: 8px;
}

.newsletter-right {
    grid-column: 6/-1;
    position: relative;
}

.newsletter-right img {
    width: 100%;
    height: auto;
}

.newsletter-right-overlap {
    transform: rotate(-19.628deg);
    background-color: #FF5400;
    color: #FFF;
    padding: 16px 32px;
    border-radius: 16px;
    max-width: 324px;
    position: absolute;
    bottom: 52px;
    right: 6px;
}

.newsletter-right-overlap h4 {
    font-size: 32px;
    font-weight: 800;
    margin: 0;
}

.newsletter-right-overlap p {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 8px;
}

/* Footer css */
footer {
    padding: 100px 0px;
    background: rgba(19, 19, 24, 0.05);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 25px;
}

.footer-logo h3 {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.footer-logo h3 span {
    color: #FF5400;
}

.footer p {
    max-width: 769px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #5A5A5D;
    font-size: 16px;
    line-height: 24px;
}

.social-icons a {
    display: inline-block;
    color: #131318;
    font-size: 24px;
    margin-left: 24px;
}

.social-icons a:first-child {
    margin-left: 0;
}

.footer-bottom {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #1313181a;
    width: 100%;
}

.footer-bottom p {
    color: #131318;
    font-weight: 300;
    font-size: 16px;
}

.d-none {
    display: none;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .main-container {
        width: 95%;
    }

    .navbar {
        padding: 10px;
        padding-bottom: 20px;
    }

    .navbar ul {
        display: none;
    }

    .navbar-icon {
        display: block;
        font-size: 24px;
        padding-right: 5px;
    }

    .logo a h3 {
        font-size: 26px;
        margin-left: 6px;
    }

    .logo img {
        width: 45px;
    }

    .banner {
        padding: 32px 0px;
    }

    .banner h3 {
        font-size: 22px;
        line-height: 30px;
    }

    .sub-heading,
    .popular-tour-content-list li,
    p {
        font-size: 14px !important;
        line-height: 22px !important;
        max-width: 100% !important;
    }

    .banner p {
        margin-bottom: 24px;
    }

    .banner-search-form form {
        grid-template-columns: 1fr;
    }

    .banner-search-input {
        max-width: 100%;
        width: 100%;
    }

    .section-padding {
        padding-bottom: 24px;
    }

    .popular-tour-content {
        grid-template-columns: 1fr;
        grid-gap: 24px;
    }

    .heading {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 14px;
    }

    .popular-tour-content-list {
        margin-top: 10px !important;
    }

    .button-primary {
        padding: 12px 16px;
        font-size: 14px;
        line-height: 22px;
    }

    .popular-tour-content-left .button-primary {
        margin-top: 20px;
    }

    .destination-section {
        margin-top: 24px;
        grid-gap: 16px;
    }

    .destination-item-01,
    .destination-item-02,
    .destination-item-03,
    .destination-item-04,
    .destination-item-05,
    .destination-item-06,
    .destination-item-07 {
        grid-column: 1/-1;
    }

    .destination-section-item-content h4 {
        font-size: 20px;
    }

    .choose-us-content {
        margin-top: 20px;
    }

    .choose-us-item-01,
    .choose-us-item-02,
    .choose-us-item-03 {
        grid-column: 1/-1;
        padding: 16px;
    }

    .testimonial-section {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .choose-us-content-item h4,
    .testimonial-section-item h4 {
        font-size: 20px;
    }

    .perfect-place {
        grid-template-columns: 1fr;
        grid-gap: 24px;
    }

    .perfect-place .heading {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .perfect-place-left-list {
        margin-top: 16px;
        margin-bottom: 0;
    }

    .newsletter-right {
        grid-column: 1/-1;
    }

    .newsletter-left {
        grid-column: 1/-1;
        padding: 20px;
    }

    .newsletter-right-overlap {
        padding: 10px;
        bottom: 20px;
    }

    .newsletter-right-overlap h4 {
        font-size: 16px;
    }

    footer {
        padding: 24px 0px;
    }

    .social-icons a {
        font-size: 16px;
    }

    .footer-bottom {
        margin-top: 20px;
        padding-top: 20px;
    }

    .footer-bottom p {
        margin-bottom: 0;
    }
}