/* common css */

body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}

.display-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-sb {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.section-padding {
    padding-bottom: 100px;
}

.button-primary {
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 1rem;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border: 0;
    border-radius: 8px;
}

.main-container {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}

.heading {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 24px;
}

.sub-heading {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 26px;
}

a {
    text-decoration: none;
}

.image {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

input,
select {
    outline: 0;
}

/* navbar css */
.navbar {
    padding: 0;
    margin: 0;
}

.logo a h3 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    margin-left: 1rem;
}

.logo a h3 span {
    color: #FF5400;
}

.nav-items li {
    list-style: none;
    margin-left: 44px;
}

.nav-items li:first-child {
    margin-left: 0;
}

.nav-items li a {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    transition: 0.3s ease;
}

.nav-items li:hover a,
.nav-items li a.active-link {
    color: #FF5400;
}

/* banner css */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/banner-img.png');
    border-radius: 16px;
    padding: 105px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner h3 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
}

.banner p {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    max-width: 670px;
    margin-top: 24px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.banner-search-form {
    padding: 16px;
    background: rgba(255, 255, 255, 0.30);
    max-width: 780px;
    margin: 0 auto;
    border-radius: 8px;
}

.banner-search-form form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.banner-search-input {
    padding: 16px;
    border-radius: 8px;
    max-width: 174px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border-color: transparent;
}

.banner-search-select {
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border-color: transparent;
    min-width: 174px;
    width: 100%;
}

.banner-search-button {
    background-color: #FF5400;
    color: #FFF;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    border-color: transparent;
}

.banner-search-button i {
    margin-right: 8px;
}

/* Popular Tour css */
.popular-tour-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 53px;
}

.popular-tour-content-list {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

.popular-tour-content-left .button-primary {
    margin-top: 32px;
}

.popular-tour-content-list li:nth-child(2) {
    margin: 16px 0;
}

.popular-tour-content-right {
    text-align: right;
}

